polkit.addRule(function(action, subject) {
    if (action.id == "ru.basealt.alterator.displayable" ) {
        return polkit.Result.YES;
    }
	if (action.id == "ru.basealt.alterator.manager" ) {
        return polkit.Result.YES;
    }
	if (action.id == "ru.basealt.alterator.categories") {
        return polkit.Result.YES;
    }
	if (action.id == "ru.basealt.alterator.applications") {
        return polkit.Result.YES;
    }
});

