polkit.addRule(function(action, subject) {
	if (action.id == "ru.basealt.alterator.displayable") {
        return polkit.Result.YES;
    }
	if (action.id == "ru.basealt.alterator.displayable.Info") {
        return polkit.Result.YES;
    }
});

